header {
  color: #fff;
}
header nav {
  padding: 0 !important;
}
header nav .nav-secondary {
  background-color: #003a70;
  display: flex;
  width: 100%;
}

header nav .nav-secondary-active {
  background-color: #fff;
  & a {
    color: #003a70;
    text-decoration: none;
    &:hover {
      color: #0080f8;
    }
  }
}

header nav .nav-secondary .container-fluid {
  padding: 5px 0;
  margin-inline: auto;
}
header nav .nav-primary {
  width: 100%;
  background-color: transparent;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-primary-active {
  background-color: #003a70;
  & a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #0080f8;
    }
  }
}
header nav .nav-primary nav ul {
  display: flex;
  gap: 1em;
  padding: 0;
  font-size: 14px;
  @media (width>=800px) {
    gap: 3em;
    font-size: 16px;
  }
}
header nav .nav-primary nav ul li {
  cursor: pointer;
  list-style: none;
  font-weight: 600;
  & a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #0080f8;
    }
  }
}
header nav .nav-primary img {
  width: 60px;
  @media (width >= 800px) {
    width: 100px;
  }
}
header .content-networks {
  display: flex;
  align-items: center;
  gap: 0.5em;
  & a {
    color: #fff;
  }
}
@media (width > 500px) {
  header .content-networks {
    font-size: 20px;
    & a {
      color: #fff;
      &:hover {
        color: #0080f8;
      }
    }
  }
}
header .content-contact {
  display: flex;
  gap: 1em;
  @media (width>= 800px) {
    gap: 3em;
  }
  & a {
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 0.5em;
    &:hover {
      color: #0080f8;
    }
  }
}
header .content-contact .navbar-brand {
  font-size: 16px;
  color: #fff;
}
